*/build/*
*/x64/*
*/dist/*
*/nbproject/private/*
/.project
*.o
*.gz
*.ilk
*.pdb
*.tlog
*.manifest
*.user
*.lastbuildstate
*.res
*.sdf
*.suo
*.rc
*.exe
/*.log
*.cache
*.idb
Makefile-Release.mk
*.VC.VC.opendb
*.VC.db
*.log
*.vs
*.ipch

*.unsuccessfulbuild
Debug/*
*.opensdf
*/*/Debug/*
*/Debug/*
*/content/*
*.vcxproj.user
*.ini

